// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-small: 380px;

$footer-height: 500px;

$c-primary: #ed9902;
$c-dark2: #2d2b29;

:root {
  --ff: "Rubik", sans-serif;
  --transition: 0.2s all ease-in-out;

  --c-primary: #ed9902;
  --c-white: #fff;
  --c-dark1: #21201e;
  --c-body: #9b968b;
  --c-dark2: #2d2b29;
}
