.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 0;
  border-bottom: 1px solid var(--c-border);

  &__backdrop {
    display: none;

    @include tablet {
      transform: translateX(120%);
      display: block;
      transition: var(--transition);
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0;
    }
  }

  &__logo {
    display: flex;
    color: var(--c-white);
    font-size: 28px;
    font-weight: 700;

    span {
      color: var(--c-primary);
    }
  }

  &__ul {
    display: flex;
    align-items: center;
    gap: 24px;
    z-index: 1;

    @include tablet {
      position: fixed;
      width: 40%;
      height: 100%;
      flex-direction: column;
      left: 0;
      top: 0;
      background: var(--c-primary);
      align-items: center;
      justify-content: center;
      transform: translateX(-120%);
      transition: var(--transition);
    }

    @include mobile {
      width: 70%;
    }

    &._active {
      transform: translateX(0);
    }

    &._active ~ .header__backdrop {
      transform: translateX(0);
    }

    .icon-close {
      position: absolute;
      top: 40px;
      right: 40px;
      color: var(--c-white);
    }
  }

  &__a {
    color: var(--c-white);
    font-size: 16px;
    font-weight: 400;
    transition: var(--transition);
    &.is-active,
    &:hover {
      color: var(--c-primary);
    }
  }
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;

  @include tablet {
    display: inline-block;
    font-size: 40px;
  }
}
