.portfolio {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px;

    @include tablet-small {
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

.portfolio-item {
  position: relative;

  @include tablet-min {
    &:hover {
      .portfolio-item__search {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &__search {
    width: 76px;
    height: 76px;
    cursor: pointer;
    background: var(--c-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: var(--transition);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);

    @include tablet {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__img {
    overflow: hidden;
    border-radius: 8px;

    img {
      border-radius: 8px;
      width: 100%;
      object-fit: cover;
      transition: var(--transition);

      @include tablet-min {
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
