.pricing {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(362px, 1fr));
    gap: 26px;

    @include mobile-small {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
  }
}

.prising-item {
  border-radius: 8px;
  background: var(--c-dark2);
  padding: 32px;

  &__title {
    color: var(--c-white);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  &__price {
    color: var(--c-white);
    font-size: 44px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  &__desc {
    color: var(--c-body);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 35px;
  }

  &__btn {
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #a19a8b;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.btn {
  &_secondary {
    border: 1px solid var(--c-primary);

    &:hover {
      background: lighten($c-dark2, 5%);
    }
  }
}
